<%- include('./common/dashboard') %>

<div class="content">
    <div class="person">
        <% if (user) { %>
        <p> Bienvenido </p>
        <p><b><%= user.username %></b></p>
        <% } else { %>
        <p> <a href="/register">Registrate</a> no seas bostero</p>
        <% }  %>
    </div>

</div>

</div>
</main>
</body>

</html>