<%- include('./common/dashboard') %>

<div class="content">
    <div class="person">
        <% if (user && user.username == userFound.username) { %>
            <p>Estas en tu perfil</p>

            <% } else { %>
        <p>Viendo el perfil de</p>
        <% }  %>
        <img src="/images/userimages/<%= userFound.image %>" alt="">
        <p><b><%= userFound.name %></b></p>
        <p><b><%= userFound.mail %></b></p>
       
        


    </div>

</div>

</div>
</main>
</body>

</html>