<%- include('./common/dashboard') %>


  <div class="formLog">

    <form method="POST" action="/" enctype="multipart/form-data">
      <% if (locals.errors) { %>
        <p>
          <% errors %>
        </p>
        <% } %>
          <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div>
            <label for="mail">Email</label>
            <input type="text" id="mail" name="mail" required>
          </div>
          <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" required>
          </div>

          <div>
            <button type="submit">Register</button>
          </div>
    </form>
  </div>

</div>
</main>
</body>

</html>