<%- include('./common/header') %>
<body>
    
    <form action="/" method="POST" enctype="">
        username<input type="text" id="username" name="username">
        password<input type="password" id="password" name="password">
        <button><input type="submit"></button>
    </form>
</body>
</html>