<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/partials/dashboard.css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="padre">
            
            <div class="dashboard">
                <div class="eldibu">
                    <div class="pic"></div>
                </div>
                <div class="welcome">
                    <p> Bienvenido </p>
                    <p><b>John Doe</b></p>
                </div>

                <div class="dashboard-nav">
                    <div class="d"><p>Home</p> </div>
                    <div class="d"> <p>Profile</p> </div>


                </div>
                <div class="thingy"></div>


            </div>



