<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/partials/dashboard.css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="padre">
            
            <div class="dashboard">
                <div class="eldibu">
                    <div class="pic"></div>
                </div>
                <div class="welcome">
                    <% if (user) { %>
                    <p> Bienvenido </p>
                    <p><b><%= user.username %></b></p>
                    <% } else { %>
                    <p> Registrate </p>
                    <% } %>
                </div>

                <div class="dashboard-nav">
                    <a href="/"><div class="d"> <p>Home</p> </div></a> 
                    <% if (user) { %>
                        <a href="/<%= user.id %>"><div class="d"> <p>Profile</p> </div></a> 
                    <% } else { %>
                   <a href="/login"><div class="d"> <p>Login</p> </div></a> 
                   <% }  %>



                </div>
                <div class="invisible"></div>
                <div class="logout">
                    <% if (user) {%>
                    <a href="/logout"><div class="d-radius"> <p>Logout</p> </div></a> 
                    <% } else {}%>
                </div>


            </div>


